* {
    box-sizing: border-box;
    outline: 1px solid line;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
.main {
    display: flex;
    width: 80vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.left-column {
    width: 50%;

}
.right-column {
 width: 30%;
 align-items: center;
}


/* PREVIEW COVER  */

.preview-cover {
  width: 500px;
  height: 500px; /* 1:1 ratio */
  background-size: contain;       
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 0; /* Matener para que el degradado de abajo toque los bordes*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: left;
}

.cover-line {
    border: none;
    height: 1.3px; /* Grosor mínimo */
    background-color: white; /* Color blanco */
    width: 100%; /* O el ancho que prefieras */
}
.preview-top {
  /* background-color: #020f82; */
  background: linear-gradient(to right, #020f82, #3a53f0);
  padding: 0.5rem;
  height: 50px; 
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.preview-top img {
  height: 100%; 
  object-fit: contain;
}
.preview-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0rem;
  background: linear-gradient(to top, rgba(0, 3, 0) 0%, rgba(0, 100, 0, 0) 100%); /*Degradado parte de abajo*/
}

.fantasy-title, .horror-title, .action-title, .simulation-title {
  padding: 1rem;
}
