@use '../core/_variables' as vars;

* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #010318; /*Mirar con Sandra si le va bien esto aquí!*/
    color: white;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}


.main_editor {
    display: flex;
    width: 80vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
}
.left-column {
    width: 50%;

}

.right-column {
 width: 30%;
 align-items: center;
}

.section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section-header h1 {
  margin: 0;
  font-size: 1.5rem;
}

.section-header button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.editor_background_design {
  margin-bottom: 1rem;
}



/*SUBIR UNA IMAGEN: Oculto porque no deja personalizarlo*/

// input[type="file"] {
//   display:none;
// }

.hidden {
  display: none;
}

// button, .upload-image  {
//   background-color: vars.$color-main;
//   padding: 0.5rem;
//   border-radius: 1rem;
//   border: 0;
//   width: 10rem;
//   margin: 1rem 0;
//   cursor: pointer;
//   color: black;
// }

button:hover, .upload-image:hover {
  color: vars.$color-main;
  background-color: vars.$color-secondary;
}

select, .input-style { /*Añado estilo al select y a los inputs para escribir a la vez*/
  color: white;
  background-color: #010318;
  border: 0;
  border-bottom: 0.2rem solid vars.$color-main;
  width: 10rem;
  margin: 1rem 0;
  padding: 0.5rem;

}

a i { /*hago más grandes los iconos de la redes sociales*/
  font-size: 3rem;
  margin-right: 1rem;
  
}

a i:hover {
  color: vars.$color-secondary !important;
}



/*Para los RADIO BUTTONS no se puede hacer de manera fácil. Hay que ocultarlos y hacer este truco*/
input[type="radio"]{
  display: none; /* Oculto el radio */
}

  label span {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    background-color: vars.$color-main;
    color: #010318;
    min-width: 5rem;
    text-align: center;
}
label span:hover {
    background-color: vars.$color-secondary;
    color: vars.$color-main; 
}
  
  input:checked + span { /*Si el input está checked y inmediatamente después hay un SPAN, este se marca seleccionado*/
    background-color: vars.$color-secondary;
    color: vars.$color-main;
  }


  .section-fill {
    display: flex;

    h2 {
      width: 10rem;
      margin-left: -1rem;
    }
  }

  .section-fill-age {
    display: flex;

    .input-style {
      margin-left: 1rem;
      width: 5rem;
      text-align: center;
    }
  }

  
  
/*Botón de regreso a la página de Inicio y Reset*/
.return-button, .reset-button {
  
  margin-bottom: 1rem;
  margin-top: 1rem;
  background: linear-gradient(to right, #020f82, #3a53f0);
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Didact Gothic", sans-serif;
   box-shadow: 0 0 15px #00ffea;
}

.return-button:hover, .reset-button:hover, .save-button:hover {
  background: linear-gradient(to right, #3a53f0, #00ffea);
  box-shadow: 0 0 25px #00a2ff;
}

.return-buttonlink{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Didact Gothic", sans-serif;
}

/* PREVIEW COVER  */

.preview-cover {
  width: 500px;
  height: 500px; /* 1:1 ratio */
  background-size: cover;       
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 0; /* Matener para que el degradado de abajo toque los bordes*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-align: left;
}

.cover-line {
    border: none;
    height: 1.3px; 
    background-color: white; 
    width: 500px; 
}
.preview-top {
  /* background-color: #020f82; */
  background: linear-gradient(to right, #020f82, #3a53f0);
  padding: 0.6rem;
  height: 60px; 
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.preview-xbox{
  background: linear-gradient(to right, #00A94F, #9BC848, #50E136);
  padding: 0.5rem;
  height: 60px; 
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.preview-xbox img {
  height: 100%; 
  object-fit: contain;
}

.preview-pc{
  background: linear-gradient(to right, #FFFFFF, #F0F0F0, #D9D9D9);
  padding: 0.5rem;
  height: 60px; 
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.preview-pc img {
  height: 100%; 
  object-fit: contain;
}

.preview-switch{
  background: linear-gradient(to right, #E60012, #FFFFFF);
  padding: 0.5rem;
  height: 60px; 
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.preview-switch img {
  height: 100%; 
  object-fit: contain;
}


.preview-top img {
  height: 100%; 
  object-fit: contain;
}
.preview-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0rem;
  background: linear-gradient(to top, rgba(0, 3, 0) 0%, rgba(0, 100, 0, 0) 100%); /*Degradado parte de abajo*/
}

.fantasy-title, .horror-title, .action-title, .simulation-title {
  margin: 0;
  padding-top: 2rem;
  padding-left: 1rem;
}

.company-section {
  display: flex;
  gap: 3rem;
}

.share-section {
  display: flex;
  margin-top: 1.6rem;
  gap: 1rem;
}

.editor-buttons{
  
  margin: 0.6rem 0;
}

.save-button{
  text-decoration: none;
  background: linear-gradient(to right, #020f82, #3a53f0);
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Didact Gothic", sans-serif;
  box-shadow: 0 0 15px #00ffea;
  
  margin-right: 1rem
}






@media all and (max-width:1200px) {

.right-column-section, .cover-line, .preview-top, .preview-pc, .preview-xbox, .preview-switch .cover-line {
  width: 300px;
}
.left-column {
  margin-right: 1rem;
}
.preview-cover {
  width: 300px;
  height: 300px;
}

.horror-title, .action-title, .simulation-title, .fantasy-title {
  font-size: 20px;
}

.cover-company {
  width: 50px;
}


}

@media all and (max-width:700px) {
.main_editor {
  flex-direction: column;
  justify-content: flex-start;
}
.left-column, .right-column {
  width: 100%;
}

label span {
    padding: 0.25rem;
    border-radius: 1rem;
    margin-right: 0.25rem;
  min-width: 4rem;
  margin-bottom: 0.5rem;
}
.preview-cover {
  margin-left: auto;
  margin-right: auto;
}
.preview-top {
  margin-top: 1rem;
}
.preview-xbox, .preview-pc, .preview-switch {
  margin-top: 1rem;
}

}

