

.body-homepage{
   

    background: linear-gradient(to bottom, #010318, #000);
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    overflow: hidden;
    position: relative;
    
}
@keyframes starsMove {
    0% { transform: translateY(0px); opacity: 1; }
    100% { transform: translateY(-200px); opacity: 0.5; }
}
.stars {
   position: absolute;
    width: 2px;
    height: 2px;
    background: cyan;
    box-shadow: 0 0 6px cyan;
    animation: starsMove 4s infinite linear;
    opacity: 0.8;
}

.stars.large {
    width: 4px;
    height: 4px;
    box-shadow: 0 0 8px cyan;
}

.glow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle, rgba(2, 15, 130, 0.2) 10%, rgba(0, 0, 0, 0.8) 50%);
    pointer-events: none;
}

.main-home{
    
    display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            text-align: center;
            flex-direction: column;
            margin: 0;
            gap: 20px;
    
}
.main-button {
    
   /* margin-bottom: 1rem;
  margin-top: 1rem;
  
  
  
  
  
  
  font-size: 1rem;
  cursor: pointer;
  font-family: "Didact Gothic", sans-serif;
    */

   font-size: 20px;
    padding: 15px 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background: linear-gradient(to right, #020f82, #3a53f0);
    box-shadow: 0 0 20px cyan;
    display: inline-block;
    position: relative;
    overflow: hidden;  
}

        .main-button:hover {
            box-shadow: 0 0 40px #00a2ff;
            transform: scale(1.1);
            background: linear-gradient(to right, #3a53f0, #00ffea);
        
            
        }  
        .main-button:active {
            animation: pulse 0.2s alternate 3;
        }
        

.main-buttonlink{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Didact Gothic", sans-serif;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    color: cyan;
    text-shadow: 0 0 15px #00ffea, 0 0 30px #00a2ff;
    animation: neonGlow 1.5s alternate infinite;
}




.main-subtitle {
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.3rem;

}

    
