/* Classe base amb estils comuns */
.preview-age,
.preview-age-naranja,
.preview-age-rojo {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
  border-radius: 10%; 
}

/* Colors específics */
.preview-age {
  background-color: rgb(40, 190, 13); 
}

.preview-age-naranja {
  background-color: rgb(228, 98, 6); 
}

.preview-age-rojo {
  background-color: rgb(233, 47, 47); 
}


@media (max-width: 600px) {
  .preview-age,
  .preview-age-naranja,
  .preview-age-rojo {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .preview-age,
  .preview-age-naranja,
  .preview-age-rojo {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }
}
