



.preview-age {

    background-color: rgb(131, 255, 16);
    width: 70px;
    height: 70px;
    font-size: 45px;
    text-align: center;
    border-color: beige;
    border-radius: 1%;
}

.preview-age-amarillo {
    background-color: yellow;
}

.preview-age-rojo {
    background-color: rgb(233, 47, 47);
        
}