
.fantasy-subtitle {
    margin: 0;
    padding-left: 1rem;
    font-family: "MedievalSharp", cursive;
    color: white;
}

.horror-subtitle {
    margin: 0;
    padding-left: 1rem;
    font-family: "Rubik Wet Paint", system-ui;
    color: rgb(223, 2, 2);
}

.action-subtitle {
    margin: 0;
    padding-left: 1rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ff2a00;
}

.simulation-subtitle {
    margin: 0;
    padding-left: 1rem;
    font-family: "Bungee", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: white;
}


@media all and (max-width:1200px) {
    .fantasy-subtitle, .horror-subtitle, .action-subtitle, .simulation-subtitle {
        font-size: 12px;
        padding-left: 1rem;
    }
}

