
.preview-age,
.preview-age-naranja,
.preview-age-rojo,
.preview-age-amarillo {
  width: 70px;
  height: 70px;
  font-size: 45px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-age {
  background-color: rgb(131, 255, 16);
}

.preview-age-naranja {
  background-color: rgb(228, 98, 6);
}

.preview-age-rojo {
  background-color: rgb(233, 47, 47);
}

.preview-age-amarillo {
  background-color: rgb(255, 196, 0);
}


@media (max-width: 600px) {
  .preview-age,
  .preview-age-naranja,
  .preview-age-rojo,
  .preview-age-amarillo {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .preview-age,
  .preview-age-naranja,
  .preview-age-rojo,
  .preview-age-amarillo {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }
}
