
.fantasy-title {
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-size: 50px;
}
.horror-title {
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 200;
    font-size: 45px;
    color: rgb(223, 2, 2);
}
.action-title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 45px;
    color: #ff2a00;
}
.simulation-title {
    
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-size: 37px;
    color: white;
}